%rebase('base.html')

<div class = "container center" style="width:40%">
    <div class="collection">
        %if len(tab) == 0:
            Nimate še nobenih dogodkov.
        % for dogodek in tab:
            <a href="#preglej_dogodek{{tab.index(dogodek)}}" class="modal-trigger collection-item" style="text-align:left">
                {{dogodek[0]}}
                % if  dogodek[4] == "danes":
                    <span class="red-text badge">Danes</span>
                %elif  dogodek[4] == 1:
                    <span class="red-text badge">Še {{dogodek[4]}} dan.</span>
                %else:
                    <span class="red-text badge">Še {{dogodek[4]}} dni.</span>
                %end
            </a>
        %end
    </div>
</div>


%for dogodek in tab:
        <div id = "preglej_dogodek{{tab.index(dogodek)}}" class = "modal">
            <div class = "modal-content">
                <h4>{{dogodek[0]}}</h4>
                <b>Datum dogodka:</b> {{dogodek[1].dan}}.{{dogodek[1].mesec}}.{{dogodek[1].leto}} - {{dogodek[2].dan}}.{{dogodek[2].mesec}}.{{dogodek[2].leto}}
                <br>
                <b>Opis dogodka:</b>
                <p>
                    {{dogodek[3]}}
                </p>
            </div>
            <div class="modal-footer">
                <form action="/dogodki_izbrisi_dogodek{{dogodek[5]}}/" method="post"><button type="submit" class ="btn red white-text">Izbriši dogodek</button></form>
            </div>
        </div>
%end