<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            .gumb{
                width: 100px;
                height: 100px;
                top: 0px; 
                text-align: right;
                padding: 15px;
                padding-top: 0;
                margin: 1px;
                margin-top: 5px;
            }
            .gumb2{
                width: 100px;
                height: 100px;
                top: 0px; 
                text-align: right;
                padding: 15px;
                padding-top: 0;
                margin: 1px;
                margin-top: 5px;
                border: 2px solid blue;
            }
            .sredina{
                right: 60px;
            }
            .modal { 
                width: 75% !important ; max-height: 100% !important 
            } 
            .datepicker-modal {
                transform: scale(0.8) !important;
            }
        </style>

        <title>Koledar</title>

    </head>

    <body>
        <div class = "container center">

            <a href = "/prejsnji_mesec/" style = "margin-bottom: 30px; margin-right: 15px;" name = "gumb" class = "btn"><i class = "material-icons">navigate_before</i></a><h2 style="display: inline;" class = "grey-text text-darken-1">{{mesec}} {{leto}}</h2><a href = "/naslednji_mesec/" style = "margin-bottom: 30px; margin-left: 15px;" class = "btn"><i class = "material-icons">navigate_next</i></a>
                    
        </div>
        <div class = "row">
            <div class ="col l2"></div>
            <div class = "col l8">
                % for i in range(1, 43):

                    %if i % 7 == 1:
                        <div class="container center">                    
                    % end

                    %if vklopljen == i-1:
                        <a href = "/vklopi{{i-1}}/" class = "gumb2 btn-large white {{tabela[i-1][1]}}-text">{{tabela[i-1][0].dan}}</a>
                    %else:
                        <a href = "/vklopi{{i-1}}/" class = "gumb btn-large white {{tabela[i-1][1]}}-text">{{tabela[i-1][0].dan}}</a>
                    %end

                    % if i % 7 == 0:
                        </div>
                    % end

                % end
            </div>
            <div class = "col l2">
                <div class="row right">
                    <div class="col 1">
                        <div class="card" style = "width:350px;">
                            <div class="card-content" style="font-size: 20px;">
                                <span class="card-title">{{tabela[vklopljen][0].dan}}. {{tabela[vklopljen][0].ime_meseca()}} {{tabela[vklopljen][0].leto}} </span>
                                Prazniki:
                                <div class="collection">
                                    %for dogodek in tabela[vklopljen][2]:
                                        %if dogodek.tip == "praznik":
                                            <a class = "modal-trigger collection-item" href="#poglej_dogodek{{dogodek.id}}">{{dogodek.ime}}</a>
                                        %end
                                    %end
                                </div>
                                <br>
                                Dogodki:
                                <div class="collection">
                                    %for dogodek in tabela[vklopljen][2]:
                                        %if dogodek.tip == "dogodek":
                                            <a class = "modal-trigger collection-item" href="#poglej_dogodek{{dogodek.id}}">{{dogodek.ime}}</a>
                                        %end
                                    %end
                                </div>
                                <a href="#dodaj_dogodek" class = "btn modal-trigger"><i class="material-icons left">add_circle_outline</i>Dodaj dogodek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id = "dodaj_dogodek" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form class="col s12" action="/dodaj_dogodek/" method="POST">
                        <div class="input-field">
                            <input name="ime_dogodka" type="text" class="validate" id="ime_dogodka">
                            <label for="ime_dogodka">Ime dogodka</label>
                        </div>

                        
                        <div class = "input-field">
                            <input name = "datumod" type="text" id="datumod" class="datepicker">
                            <label for = "datumod">Začetek dogodka (pusti prazno za izbrani datum) </label>
                        </div>

                        
                        <div class = "input-field">
                            <input name = "datumdo" type="text" id="datumdo" class="datepicker">
                            <label for = "datumdo">Konec dogodka (pusti prazno za izbrani datum)</label>
                        </div>

                        <div class = "input-field">
                            <textarea name="opis_dogodka" type="text" class="materialize-textarea" id = "opis_dogodka"></textarea>
                            <label for="opis_dogodka">Opis dogodka</label>
                        </div>

                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Dodaj dogodek</button>
                        </div>         
                    </form>       
                </div>
            </div>
        </div>

        %for dogodek in tabela[vklopljen][2]:
            <div id = "poglej_dogodek{{dogodek.id}}" class = "modal">
                <div class = "modal-content">
                    <h4>{{dogodek.ime}}</h4>
                    <p>{{dogodek.opis}}</p>
                </div>
            </div>
        %end

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.modal').modal();
                $('.datepicker').datepicker()({
                });
            });
        </script>
    </body>
</html>