%rebase('base.html')
        <br>
        <div class = "container center">

            <a href = "/prejsnji_mesec/" style = "margin-bottom: 30px; margin-right: 15px;" name = "gumb" class = "btn"><i class = "material-icons">navigate_before</i></a><h2 style="display: inline;" class = "grey-text text-darken-1">{{mesec}} {{leto}}</h2><a href = "/naslednji_mesec/" style = "margin-bottom: 30px; margin-left: 15px;" class = "btn"><i class = "material-icons">navigate_next</i></a>
                    
        </div>
        <div class = "row">
            <div class ="col l2"></div>
            <div class = "col l8">
                % for i in range(1, 43):

                    %if i % 7 == 1:
                        <div class="container center">                    
                    % end

                    % if len(tabela[i-1][2]) > 0:
                            %if(vklopljen == i-1):
                                <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large indigo white-text" style = "border:2px solid blue;">{{tabela[i-1][0].dan}}</a>
                            %else:
                                <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large indigo white-text">{{tabela[i-1][0].dan}}</a>
                            %end

                    % elif len(tabela[i-1][3]) > 0:
                        %if(tabela[i-1][3][0][1] == "Današnji dan"):
                            %if(len(tabela[i-1][3]) == 1):
                                %if(vklopljen == i-1):
                                    <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large white {{tabela[i-1][1]}}-text" style = "border:2px solid blue;">{{tabela[i-1][0].dan}}</a>
                                %else:
                                    <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large white {{tabela[i-1][1]}}-text" style = "border:2px solid red;">{{tabela[i-1][0].dan}}</a>
                                %end
                            %else:
                                %if(vklopljen == i-1):
                                    <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large red {{tabela[i-1][1]}}-text" style = "border:2px solid blue;">{{tabela[i-1][0].dan}}</a>
                                %else:
                                    <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large red {{tabela[i-1][1]}}-text" style = "border:2px solid red;">{{tabela[i-1][0].dan}}</a>
                                %end
                            % end
                        %else:
                            %if(vklopljen == i-1):
                                <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large red {{tabela[i-1][1]}}-text" style = "border:2px solid blue;">{{tabela[i-1][0].dan}}</a>
                            %else:
                                <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large red {{tabela[i-1][1]}}-text">{{tabela[i-1][0].dan}}</a>
                            %end
                        %end

                    %else:
                        %if(vklopljen == i-1):
                            <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large white {{tabela[i-1][1]}}-text" style = "border: 2px solid blue;">{{tabela[i-1][0].dan}}</a>
                        % else:
                            <a id="gumb{{i}}" href = "/vklopi{{i-1}}/" class = "gumb btn-large white {{tabela[i-1][1]}}-text">{{tabela[i-1][0].dan}}</a>
                        % end
                    %end

                    % if i % 7 == 0:
                        </div>
                    % end

                % end
            </div>
            <div class = "col l2">
                <div class="row right">
                    <div class="col 1">
                        <div class="card" style = "width:350px;">
                            <div class="card-content" style="font-size: 20px;">
                                <span class="card-title">{{tabela[vklopljen][0].dan}}. {{tabela[vklopljen][0].ime_meseca()}} {{tabela[vklopljen][0].leto}} </span>
                                Prazniki:
                                <div class="collection">
                                    %for zanimivost in tabela[vklopljen][3]:
                                        <a class = "modal-trigger collection-item"  href="#poglej_zanimivost{{zanimivost[0]}}">{{zanimivost[1]}}</a>
                                    %end
                                </div>
                                <br>
                                Dogodki:
                                <div class="collection">
                                    %for dogodek in tabela[vklopljen][2]:
                                        <a class = "modal-trigger collection-item" href="#poglej_dogodek{{dogodek.id}}">{{dogodek.ime}}</a>
                                    %end
                                </div>
                                <a href="#dodaj_dogodek" class = "btn modal-trigger"><i class="material-icons left">add_circle_outline</i>Dodaj dogodek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id = "dodaj_dogodek" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form class="col s12" action="/dodaj_dogodek/" method="POST">
                        <div class="input-field">
                            <input name="ime_dogodka" type="text" class="validate" id="ime_dogodka">
                            <label for="ime_dogodka">Ime dogodka</label>
                        </div>
        
                        
                        <div class = "input-field">
                            <input name = "datumod" type="text" id="datumod" class="datepicker">
                            <label for = "datumod">Začetek dogodka (pusti prazno za izbrani datum) </label>
                        </div>
        
                        
                        <div class = "input-field">
                            <input name = "datumdo" type="text" id="datumdo" class="datepicker">
                            <label for = "datumdo">Konec dogodka (pusti prazno za izbrani datum)</label>
                        </div>
        
                        <div class = "input-field">
                            <textarea name="opis_dogodka" type="text" class="materialize-textarea" id = "opis_dogodka"></textarea>
                            <label for="opis_dogodka">Opis dogodka</label>
                        </div>
        
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Dodaj dogodek</button>
                        </div>         
                    </form>       
                </div>
            </div>
        </div>

        %for dogodek in tabela[vklopljen][2]:
            <div id = "poglej_dogodek{{dogodek.id}}" class = "modal">
                <div class = "modal-content">
                    <h4>{{dogodek.ime}}</h4>
                    <b>Datum dogodka:</b> {{dogodek.datum.dan}}.{{dogodek.datum.mesec}}.{{dogodek.datum.leto}} - {{dogodek.datumdo.dan}}.{{dogodek.datumdo.mesec}}.{{dogodek.datumdo.leto}}
                    <br>
                    <b>Opis dogodka:</b>
                    <p>
                        {{dogodek.opis}}
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="/izbrisi_dogodek{{dogodek.id}}/" method="post"><button type="submit" class ="btn red white-text">Izbriši dogodek</button></form>
                </div>
            </div>
        %end
        %for zanimivost in tabela[vklopljen][3]:
            <div id = "poglej_zanimivost{{zanimivost[0]}}" class = "modal">
                <div class = "modal-content">
                    <h4>{{zanimivost[1]}}</h4>
                    <b>Datum:</b> {{zanimivost[2].dan}}.{{zanimivost[2].mesec}}.{{zanimivost[2].leto}}
                    <br>
                    <b>Opis:</b>
                    <p>
                        {{zanimivost[3]}}
                    </p>
                </div>
            </div>
        %end

