<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            .gumb{
                width: 100px;
                height: 100px;
                top: 0px; 
                text-align: right;
                padding: 15px;
                padding-top: 0;
                margin: 1px;
                margin-top: 5px;
            }
            .sredina{
                right: 60px;
            }
        </style>

        <title>Koledar</title>

    </head>

    <body>
            
        <div class = "container center">

            <a href = "/prejsnji_mesec/" style = "margin-bottom: 30px; margin-right: 15px;" name = "gumb" class = "btn"><i class = "material-icons">navigate_before</i></a><h2 style="display: inline;" class = "grey-text text-darken-1">{{mesec}} {{leto}}</h2><a href = "/naslednji_mesec/" style = "margin-bottom: 30px; margin-left: 15px;" class = "btn"><i class = "material-icons">navigate_next</i></a>
        
        </div>

        % for i in range(1, 43):

            %if i % 7 == 1:
                <div class="container center">
                    
            % end

            % if i < zacetek_meseca:
                <a href = "#" class = "gumb btn-large white gray-text"></a>

            % elif (i - zacetek_meseca + 1) <= stevilo_dni :
                <a href = "#" class = "gumb btn-large white black-text">{{i - zacetek_meseca + 1}}</a>

            % else:
                <a href = "#" class = "gumb btn-large white gray-text"></a>

            % end

            % if i % 7 == 0:
                </div>

            % end
        % end

    </body>


</html>