%rebase('base.html')
<div class="row">
    <form class="col s12" method= "POST">
        <div class="row">
            <div class="input-field col s12">
                <input id="uporabnisko_ime" class="validate" name = "uporabnisko_ime">
                <label for="uporabnisko_ime">Uporabniško ime</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="geslo" type="password" class="validate" name= "geslo">
                <label for="geslo">Geslo</label>
            </div>
            <div class = "row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Prijavi se</button>
            </div>
        </div>
    </form>
</div>
