%rebase('base.html')
<br>
<br>
<br>
<div class="container center"> <!-- Stran za registracijo -->
    <h4 class ="red-text">REGISTRACIJA</h4> 
    <form class="col s12" action="/registracija/" method="POST">

        <div class="input-field">
            <input name="uporabnisko_ime" type="text" class="validate" id="uporabnisko_ime">
            <label for="uporabnisko_ime">Uporabniško ime</label>
        </div>

        <div class="input-field">
            <input name="geslo" type="password" class="validate" id="geslo">
            <label for="geslo">Geslo</label>
        </div>

        % if napaka:
            <p class="help is-danger red-text" >{{ napaka }}</p>
        % end

        <div class = "row">                
            <button class="btn waves-effect waves-light" type="submit" name="action">Registriraj se</button>
        </div>

    </form>
</div>

<div class = "container center">
    <a href ="/prijava/" class="btn waves-effect waves-light" >Nazaj na prijavo</a>
</div>